node_modules/
dist/
build/
coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.env
.env.*
!.env.example
!.env.test
*.pid
*.seed
*.pid.lock
.npm
.eslintcache

logs/*
!logs/.gitkeep


# Serverless Framework
.serverless/
.serverless-*

# Postman Collections (keep local only)
onepiece-api-local.postman_environment.json
onepiece-api-production.postman_environment.json
